        @model FootballApi.API.DataModels.Root
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <h1>@Model.Competition.Name</h1>

        <img src="@Model.Competition.Emblem" alt="@Model.Competition.Name" class="logo"/>

        <div class="expandable-list">
          <div class="expandable-header">Matchday</div>
          <div class="expandable-content">
            <ul>
              @for (int i = 1; i <= 34; i++)
              {
                    <li><a href="@Url.Action("Bundesliga", "Home", new { matchday = i })">@i</a></li>
              }
            </ul>
          </div>
        </div>
        <style>
          .expandable-list {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            max-width: 100px;
          }

          .expandable-header {
            font-weight: bold;
            max-width: 100px;
          }

          .expandable-content {
            display: none;
            max-height: 100px;
            max-width: 100px;
            overflow-y: auto;
          }
            .match {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                background-color: #fff;
                border-radius: 5px;
                padding: 20px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            .match-header {
                margin-bottom: 10px;
            }

            .match-footer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

        </style>
        <style>
            .team-logo {
                width: 50px;
                height: auto;
            }
            .logo {
                margin-bottom: 10px;
            }
        </style>
        <script>
          $(document).ready(function() {
            $('.expandable-header').click(function() {
              $(this).siblings('.expandable-content').toggle();
            });
          });
        </script>

        <h2>Matches:</h2>

        @foreach (var match in Model.Matches)
        {
            <div class="match">
                @if (@match.Status == "FINISHED")
                {
                    <div class="match-header">
                        <h3>@match.Score.FullTime.Home  <img src="@match.HomeTeam.Crest" alt="@match.HomeTeam.Name" class="team-logo"/>     @match.HomeTeam.Name vs. @match.AwayTeam.Name     <img src="@match.AwayTeam.Crest" alt="@match.AwayTeam.Name" class="team-logo"/>   @match.Score.FullTime.Away</h3>   
                        <p>Status: @match.Status</p>
                    </div>
                }
                else
                {
                    <div class="match-header">
                        <h3><img src="@match.HomeTeam.Crest" alt="@match.HomeTeam.Name" class="team-logo"/>    @match.HomeTeam.Name vs. @match.AwayTeam.Name  <img src="@match.AwayTeam.Crest" alt="@match.AwayTeam.Name" class="team-logo"/></h3>
                        <p>Status: Upcoming</p>
                    </div>
                }
                <div class="match-footer">
                    <button onclick="location.href='@Url.Action("Match", new { id = match.Id })'">Details</button>
                </div>
            </div>
        }
