        @model FootballApi.API.DataModels.Root

        @if(@Model.Matches.Count == 0)
{
    <h1>You have no Favourite matches</h1>
}
else
{
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <h1>Favourites</h1>

        <style>
          .expandable-list {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            max-width: 100px;
          }

          .expandable-header {
            font-weight: bold;
            max-width: 100px;
          }

          .expandable-content {
            display: none;
            max-height: 100px;
            max-width: 100px;
            overflow-y: auto;
          }
            .match {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                background-color: #fff;
                border-radius: 5px;
                padding: 20px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            .match-header {
                margin-bottom: 10px;
            }

            .match-footer {
                display: flex;
                gap: 10px;
            }

        </style>
        <style>
            .team-logo {
                width: 50px;
                height: auto;
            }
            .logo {
                margin-bottom: 10px;
            }
        </style>
        <h2>Matches:</h2>

        @foreach (var match in Model.Matches)
        {
            <div class="match">
                @if (@match.Status == "FINISHED")
                {
                    <div class="match-header">
                        <h3>@match.Score.FullTime.Home  <img src="@match.HomeTeam.Crest" alt="@match.HomeTeam.Name" class="team-logo"/>     @match.HomeTeam.Name vs. @match.AwayTeam.Name     <img src="@match.AwayTeam.Crest" alt="@match.AwayTeam.Name" class="team-logo"/>   @match.Score.FullTime.Away</h3>   
                        <p>Status: @match.Status</p>
                    </div>
                }
                else
                {
                    <div class="match-header">
                        <h3><img src="@match.HomeTeam.Crest" alt="@match.HomeTeam.Name" class="team-logo"/>    @match.HomeTeam.Name vs. @match.AwayTeam.Name  <img src="@match.AwayTeam.Crest" alt="@match.AwayTeam.Name" class="team-logo"/></h3>
                        <p>Status: Upcoming</p>
                    </div>
                }
                <div class="match-footer">
                    <button onclick="location.href='@Url.Action("FavouriteMatch", new { id = match.Id })'">Details</button>
                    <button id="removeButton-@match.Id" class="remove">Remove</button>
                </div>
            </div>


            <script>
                $(document).ready(function(){
                    $('#removeButton-@match.Id').click(function(){
                        $.ajax({
                            url:'/Home/DeleteMatch',
                            type: 'POST',
                            data: {matchId: @match.Id},
                            success: function(){
                                alert('Match removed!');
                                location.reload();
                            },
                            error: function(){
                                alert('Failed to remove match!')
                            }
                        });
                    });
                });
            </script>
        }



}